<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
        <title>Systemic Risk Dashboard</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">
        <!--<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">-->

        <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
</head>

<body>        
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Systemic Risk Dashboard</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">Log In</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Analysis</li>
              <li><a href="#">Monthly Returns</a></li>
              <li><a href="#">PCA</a></li>
              <li><a href="/granger">Granger Causality</a></li>
              <li class="nav-header">Resources</li>
              <li><a href="#">Primary paper</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <p>
            Paper Abstract: <br>
            We propose several econometric measures of connectedness based on  principal-
components analysis and Granger-causality networks, and apply them to the monthly

returns of hedge funds, banks, broker/dealers, and insurance companies. We ﬁnd that

all four sectors have become highly interrelated over the past decade, likely increasing

the level of systemic risk in the ﬁnance and insurance industries through a complex and

time-varying network of relationships. These measures can also identify and quantify

ﬁnancial crisis periods, and seem to contain predictive power in out-of-sample tests.

Our results show an asymmetry in the degree of connectedness among the four sectors,

with banks playing a much more important role in transmitting shocks than other

ﬁnancial institutions.</p>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>Created by Ayesha Bose and Hanwen Xu, under Andrew W. Lo.</p>
      </footer>

    </div><!--/.fluid-container-->
</body>
</html>
