<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
        <title>Systemic Risk Dashboard</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">

        <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">
        
</head>

<body>        
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Systemic Risk Dashboard</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Log In</a></li>
        </ul>
        <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          {% include "dashboard/nav-analytics.html" %}
        </div>

        <div class="span10">
          <div class="hero-unit">
            <h1> Questions? </h1>
            <h3> Email us at riskdash [at] mit.edu </h3>
          </div>
        </div>
      </div>
      
      <hr>
      <footer>
        <p>Created by Ayesha Bose and Hanwen Xu, under Andrew W. Lo.</p>
      </footer>

    </div><!--/.fluid-container-->
</body>
</html>
