<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
        <title>Systemic Risk Dashboard</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">
        <!--<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">-->
        <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>        
<body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Systemic Risk Dashboard</a>
        <a class="navbar-brand" href="/about">About</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Log In</a></li>
        </ul>
        <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>

    <div class="container-fluid">
      <div class="alert alert-warning alert-dismissable">
          <strong>Note: </strong> This website is still under construction.
        </div>
      <div class="row-fluid">
        <div class="span2">
          {% include "dashboard/nav-network.html" %}
        </div>
        <div class="span10">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/granger">Granger Causality</a></li>
          </ol>
          <ul class="nav nav-tabs">
          <li class="disabled"><a data-toggle="tab" href="#stats">Summary Statistics</a></li>
          <li class="disabled"><a data-toggle="tab" href="#conns">Number of Connections</a></li>
          <li class="active"><a data-toggle="tab" href="#diagrams">Network Diagram</a></li>
        </ul>

        <div class="tab-content">
          
          <!---<div class="tab-pane" id="stats">
              <h1>Summary Statistics for asset-weighted autocorrelations 
                <br>
                and linear Granger-causality relationships</h1>
              <h4> <i>At the 5% level of statiscial significance </i> </h4>
              {% include "dashboard/time_range.html" %}
              {% include "dashboard/granger_stats.html" %}
          </div>
          <div class="tab-pane" id="conns">
              <h1>Number of connections as a percentage of all possible connections.</h1>
              <h4> <i>At the 5% level of statiscial significance </i> </h4>
                {% include "dashboard/time_range.html" %}
                {% include "dashboard/pca_viz.html" %}
          </div>-->
          <div class="tab-pane active" id="diagrams">
              <h1>Network Diagram</h1>
              <h4> <i>Mouse over the diagram from left to right to see bundles for each sector. </i> </h4>
              <h5> <i>Each line represents a statistically significant relationship between two institutions.</i> </h5>
              <hr>
              <!---<h4><b> From 2013-12-31 </b></h4>-->
                {% include "dashboard/granger_viz.html" %}
          </div>
        </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>Created by Ayesha Bose and Hanwen Xu, under Andrew W. Lo.</p>
      </footer>

    </div><!--/.fluid-container-->
</body>
</html>
