<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
        <title>Systemic Risk Dashboard</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">
        <!--<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">-->
        <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/simple-slider.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/granger_viz.css"/>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>        
<body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Systemic Risk Dashboard</a>
        <a class="navbar-brand" href="/about/">About</a>
      </div>
    </div>

    <div class="container-fluid">
      <div class="alert alert-warning alert-dismissable">
          <strong>Note: </strong> This website is still under construction.
        </div>
      <div class="row-fluid">
        <div class="span2">
          {% include "dashboard/nav-network.html" %}
        </div>
        <div class="span10">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/granger">Granger Causality</a></li>
            <li class="active"><a href="/granger">Network Diagram</a></li>
          </ol>
          <ul class="nav nav-tabs">
            <li class="active"><a href="/granger">Network Diagram</a></li>
            <li><a href="/pca">Cumulative Risk Fraction</a></li>
          <li><a href="/returns">Descriptive Statistics</a></li>
          
          
        </ul>

        <div class="tab-content">
          
          <!---<div class="tab-pane" id="stats">
              <h1>Summary Statistics for asset-weighted autocorrelations 
                <br>
                and linear Granger-causality relationships</h1>
              <h4> <i>At the 5% level of statiscial significance </i> </h4>
              {% include "dashboard/time_range.html" %}
              {% include "dashboard/granger_stats.html" %}
          </div>
          <div class="tab-pane" id="conns">
              <h1>Number of connections as a percentage of all possible connections.</h1>
              <h4> <i>At the 5% level of statiscial significance </i> </h4>
                {% include "dashboard/time_range.html" %}
                {% include "dashboard/pca_viz.html" %}
          </div>-->
          <div class="tab-pane active" id="diagrams">
              <h1>Granger Causality Network Diagram</h1>
              <hr>
              <h4> This work is based on <a href="http://www.sciencedirect.com/science/article/pii/S0304405X11002868">Billio, Getmansky, Lo, and Pelizzon, 2012, "Econometric measures of connectedness and systemic risk in the Finance and Insurance Sectors", Journal of Financial Economics.</a> </h4>
              <hr>
              <h3> <i> The Granger causality network diagram use observable stock market data to impute estimates of a latent network structure for four classes of institutions: banks, brokers, hedge funds, and insurance companies. All four sectors have become highly interrelated over the past decade, increasing the level of systemic risk in the finance and insurance industries. </i></h3>
              <hr>
              <h4> <i>Mouse over the institutions to see individual connections. Red lines are connections from that institution to others, green lines are connections from other institutions to the selected one. </i> </h4>
              <h5> <i>Each line represents a statistically significant relationship between two institutions.</i> </h5>
              <hr>
              <!---<h4><b> From 2013-12-31 </b></h4>-->
              <div class="span5">
                    {% include "dashboard/granger_viz_left.html" %}
              </div>
              <div class="span5">
                    {% include "dashboard/granger_viz_right.html" %}
              </div>
                  
          </div>
        </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>Created by Ayesha Bose and Hanwen Xu, under Professor Andrew Lo, with the assistance of Professor Roger Stein, Jian Helen Yang, and Tom Hughes</p>
      </footer>

    </div><!--/.fluid-container-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/packages.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/simple-slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/granger_viz.js"></script>
</body>
</html>
