<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<title>Table With Embedded Line Chart</title>
<script src="http://d3js.org/d3.v3.min.js"></script>
<style>
table {
  border-collapse: collapse;
}
th {
  border-bottom: 2px solid #ddd;
  padding: 8px;
  font-weight: bold;
}
td {
  padding: 8px;
  border-top: 1px solid #ddd;
}
#chart {
  padding: 0px;
}
.xaxislabel {
  font-size: 9px;
}
</style>
</head>
<body>

<div id="datatable"></div>

<script>

var rows = []
var formatdate = d3.time.format("%b %d %Y");

d3.csv("/static/data/granger-stats.csv", function(error, csv) {
  csv.forEach(function(row) {
    console.log(row.twenty);
    rows.push(row);
  });

  var table = d3.select("#datatable").append("table");
      thead = table.append("thead");
      tbody = table.append("tbody");

  thead.append("th").text("Sector from");
  thead.append("th").text("Asset-weighted Autocorr.");
  thead.append("th").text("Hedge Funds(%)");
  thead.append("th").text("Brokers (%)");
  thead.append("th").text("");
  thead.append("th").text("Banks (%)");
  thead.append("th").text("Insurers (%)");
  thead.append("th").text("Hedge Funds");
  thead.append("th").text("Brokers");
  thead.append("th").text("");
  thead.append("th").text("Banks");
  thead.append("th").text("Insurers");

  var tr = tbody.selectAll("tr")
      .data(rows)
      .enter().append("tr");

  var td = tr.selectAll("td")
        .data(function(d) { return [d.firm,d.corr,d.hf_p,d.brokers_p,d.total_p,d.banks_p,d.insurers_p,d.hf,d.brokers,d.total,d.banks,d.insurers]; })
      .enter().append("td")
        .text(function(d) { return d; });

  var width = 80,
      height = d3.select("table")[0][0].clientHeight,
      mx = 10,
      radius = 2;

});
</script>
</body>
</html>