
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Hierarchical Edge Bundling (Radial Tree)</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/packages.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/granger_viz.css"/>
  </head>
  <body>
    <div id="chart"></div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/granger_viz.js"></script>
  </body>
</html>
