<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
        <title>Systemic Risk Dashboard</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">

        <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/jquery.thumbs.css" rel="stylesheet" media="screen">

</head>

<body>        
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Systemic Risk Dashboard</a>
        <a class="navbar-brand" href="/about/">About</a>
      </div>
    </div>

    <div class="container-fluid">
       <div class="alert alert-warning alert-dismissable">
          <strong>Note: </strong> This website is still under construction.
        </div>
      <div class="row-fluid">
        <div class="span2">
          <div class="panel panel-default">
              <div class="panel-body">
                {% include "dashboard/nav-home.html" %}
              </div>
          </div>
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LSE_SRC" data-widget-id="451170499045761024">Tweets by @LSE_SRC</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="span10">
          <ol class="breadcrumb">
            <li class="active"><a href="/">Home</a></li>
          </ol>
          <h1><b> Systemic Risk Dashboard </b></h1>
          <h3> Overview and latest statistics </h3>
          <hr>
          <!---<div class="row-fluid">
            <div class="span6">
              <div class="panel panel-default">
              <div class="panel-body">
                  <h4 align="center"> <i> Risk Status</i></h4>
                  <h5 align="center"> <i> Proof of concept only - placeholder data</i></h5>
                  <div class="row">
                    <div class="span4">
                      <div id="market-gauge" style="width:175px; height:140px"></div>
                    </div>
                    <div class="span4">
                      <div id="credit-gauge" style="width:175px; height:140px"></div>
                    </div>
                    <div class="span4">
                      <div id="liquidity-gauge" style="width:175px; height:140px"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="span4">
                      <div id="volatility-gauge" style="width:175px; height:140px"></div>
                    </div>
                    <div class="span4">
                      <div id="industry-gauge" style="width:175px; height:140px"></div>
                    </div>
                    <div class="span4">
                      <div id="event-gauge" style="width:175px; height:140px"></div>
                    </div>
                  </div>
              </div>
            </div>  
            </div>
            <div class="span6">
            <div class="panel panel-default">
              <div class="panel-body">
                <h4 align="center"> <i> Global Systemic Risk Summary</i></h4>
                <h5 align="center"> <i> Proof of concept only - placeholder data</i></h5>
                <div id="container" style="position: relative; width: 500px; height: 300px;"></div>
              </div>
            </div>
            </div>
          </div>-->
              <div class="row-fluid">
                <h3> <i>Select an analytic to view: </i></h3>
                <a href="/illiq_viz" class="thumb"><img src="{{ STATIC_URL }}images/aggilliq.png" alt="Aggregate Illiquidity"/></a>
                <a href="/pca/" class="thumb"><img src="{{ STATIC_URL }}images/crf.png" alt="Cumulative Risk Fraction"/></a>
                <a href="/granger/" class="thumb"><img src="{{ STATIC_URL }}images/granger.png" alt="Granger Causality Diagram"/></a>
                <a href="/sercorr/" class="thumb"><img src="{{ STATIC_URL }}images/qstats.png" alt="Individual Hedge Fund Illiquidity"/></a>
                <a href="/B1months/" class="thumb"><img src="{{ STATIC_URL }}images/b1months.png" alt="Defaults per Month"/></a>
                <a href="/B1/" class="thumb"><img src="{{ STATIC_URL }}images/b1.png" alt="Default Intensity"/></a>
                <a href="/mems/" class="thumb"><img src="{{ STATIC_URL }}images/nyu.png" alt="MES - Embedded"/></a>
                <a href="http://vlab.stern.nyu.edu/analysis/RISK.USFIN-MR.MES" class="thumb" target="_blank"><img src="{{ STATIC_URL }}images/nyu.png" alt="MES - Linked"/></a>
            </div>
      <hr>
      <footer>
        <p>Created by Ayesha Bose and Hanwen Xu, under Andrew W. Lo.</p>
      </footer>

    </div><!--/.fluid-container-->

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <!---<script src="{{ STATIC_URL }}js/datamaps.world.min.js"></script>
    <script src="{{ STATIC_URL }}js/index_map.js"></script>
    <script src="{{ STATIC_URL }}js/raphael.2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/justgage.1.0.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/market-gauge.js"></script>
    <script src="{{ STATIC_URL }}js/credit-gauge.js"></script>
    <script src="{{ STATIC_URL }}js/liquidity-gauge.js"></script>
    <script src="{{ STATIC_URL }}js/volatility-gauge.js"></script>
    <script src="{{ STATIC_URL }}js/industry-gauge.js"></script>
    <script src="{{ STATIC_URL }}js/event-gauge.js"></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.thumbs.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $(".thumb").thumbs();
      });
    </script>
</body>
</html>
