<ul class="nav nav-sidebar">
    <h4> <b> Analytics </b> </h4>
    <hr>
    <li class="nav-header">Network Measures</li>
      <li><a href="/returns">Monthly Returns</a></li>
      <li><a href="/pca">PCA</a></li>
      <li><a href="#">Regime shift analysis</a></li>
      <li><a href="/granger">Granger Causality</a></li>
      <li><a href="#">Out of Sample results</a></li>
      <li><a href="#">Default Intensity Model</a></li>
      <li><a href="#">Network Analysis and Systemic Financial Linkages</a></li>
      <li><a href="#">Simulating Credit Scenario</a></li>
      <li><a href="#">Simulation Credit and Funding Shock Scenario</a></li>
      <li><a href="#">Bank Funding Risk and Shock Transmission</a></li>
      <li><a href="#">Mark-to-Market Accounting and Liquidity</a></li>
    <li class="nav-header">Macroeconomic Measures</li>
      <li><a href="#">Costly Asset Price Boom/Bust cycles</a></li>
      <li><a href="#">Property Price, Equity Price, Credit Gap Indicators</a></li>
      <li><a href="#">Macroprudential Regulation</a></li>
    <li class="nav-header">Risk Measures</li>
      <li><a href="#">Contingent Claims Analysis</a></li>
      <li><a href="#">Mahalanobis Distance</a></li>
      <li><a href="#">Options iPoD</a></li>
      <li><a href="#">Multivariate Density Estimators</a></li>
      <li><a href="#">Simulating Housing Sector</a></li>
      <li><a href="#">Consumer Credit</a></li>
    <li class="nav-header">Stress Tests</li>
      <li><a href="#">GDP Stress Test</a></li>
      <li><a href="#">Lessons from SCAP</a></li>
      <li><a href="#">10-by-10-by-10 Approach</a></li>
    <li class="nav-header">Cross-sectional Measures</li>
      <li><a href="#">CoVar</a></li>
      <li><a href="#">Distressed Insurance Premium</a></li>
      <li><a href="#">Co-Risk</a></li>
      <li><a href="#">Marginal and Systemic Expected Shortfall</a></li>
    <li class="nav-header">Liquidity and Solvency</li>
      <li><a href="#">Risk Topography</a></li>
      <li><a href="#">Leverage Cycle</a></li>
      <li><a href="#">Noise as Information for Illiquidity</a></li>
      <li><a href="#">Crowded Trades in Currency Funds</a></li>
      <li><a href="#">Equity Market Illiquidity</a></li>
      <li><a href="#">Serial Correlation and Illiquidity in Hedge Fund Returns</a></li>
      <li><a href="#">Broader Hedge Fund Based Systemic Risk Measures</a></li>
    <hr>
    <li><a href="#">Other Resources</a></li>
    <li><a href="/contact/">Contact</a></li>