
<ul class="nav nav-sidebar">
    <li class="nav-header">Network Measures</li>
      <li><a href="/returns">Monthly Returns</a></li>
      <li><a href="/pca">PCA</a></li>
      <li><a href="#">Regime shift analysis</a></li>
      <li><a href="/granger">Granger Causality</a></li>
      <li><a href="#">Out of Sample results</a></li>
      <li><a href="#">Default Intensity Model</a></li>
      <li><a href="#">Network Analysis and Systemic Financial Linkages</a></li>
      <li><a href="#">Simulating Credit Scenario</a></li>
      <li><a href="#">Simulation Credit and Funding Shock Scenario</a></li>
      <li><a href="#">Bank Funding Risk and Shock Transmission</a></li>
      <li><a href="#">Mark-to-Market Accounting and Liquidity</a></li>
      <li class="nav-header">Other Analytics</li>
      <li><a href="#">Macroeconomic Measures</li> 
      <li><a href="#">Risk Measures</li>  
      <li><a href="#">Stress Tests</li>
      <li><a href="#">Cross-sectional Measures</li> 
      <li><a href="#">Liquidity and Solvency</li>
    <hr>
    <li><a href="#">Other Resources</a></li>
    <li><a href="/contact/">Contact</a></li>