<ul class="nav nav-sidebar">
      <li><a href="/granger">Network Measures</a></li>
      <li class="disabled"><a href="#">Macroeconomic Measures</a></li>
      <li class="disabled"><a href="#">Risk Measures</a></li>
      <li class="disabled"><a href="#">Stress Tests</a></li>
      <li class="disabled"><a href="#">Cross-sectional Measures</a></li>
      <li><a href="/illiq_viz">Liquidity and Solvency</a></li>
    <hr>
    <li><a href="/other/">Other Resources</a></li>
    <li><a href="/contact/">Contact</a></li>