<ul class="nav nav-sidebar">
      <li><a href="/granger">Network Measures</a></li>
      <li class="disabled"><a href="#">Macroeconomic Measures</a></li>
      <li class="disabled"><a href="#">Risk Measures</a></li>
      <li class="disabled"><a href="#">Stress Tests</a></li>
      <hr>
      <li class="nav-header">Cross-sectional Measures</li>
      <li class="disabled"><a href="#">CoVar</a></li>
      <li class="disabled"><a href="#">Distressed Insurance Premium</a></li>
      <li class="disabled"><a href="#">Co-Risk</a></li>
      <li><a href="/mes">Marginal and Systemic Expected Shortfall</a></li>
      <hr>
      <li><a href="/illiq_viz">Liquidity and Solvency</a></li>
    <hr>
    <li><a href="/other/">Other Resources</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>