<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
        <title>Systemic Risk Dashboard</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">

        <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/jquery.thumbs.css" rel="stylesheet" media="screen">

        
</head>

<body>        
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Systemic Risk Dashboard</a>
        <a class="navbar-brand" href="/about/">About</a>
      </div>
    </div>

    <div class="container-fluid">
      <div class="alert alert-warning alert-dismissable">
          <strong>Note: </strong> This website is still under construction.
        </div>
      <div class="row-fluid">
        <div class="span2">
          {% include "dashboard/nav-home.html" %}
        </div>

        <div class="span10">
          <div class="hero-unit">
            <h1> Other Resources: </h1>
            <br>
            <br>
            <a href="http://vlab.stern.nyu.edu/welcome/risk/" class="thumb"><img src="{{ STATIC_URL }}images/nyu.png" alt="NYU Stern V-Lab"/></a>
            <a href="http://www.esrb.europa.eu/home/html/index.en.html" class="thumb"><img src="{{ STATIC_URL }}images/esrb.png" alt="European Systemic Risk Board"/></a>
            <a href="http://www.systemicrisk.ac.uk/" class="thumb"><img src="{{ STATIC_URL }}images/LSE.png" alt="LSE SRC"/></a>
            <a href="http://som.yale.edu/faculty-research/our-centers-initiatives/international-center-finance/data/stock-market-confidence-indices/stock-market-confidence-indices" class="thumb"><img src="{{ STATIC_URL }}images/yale.png" alt="Yale ICF"/></a>
          </div>
        </div>
      </div>
      
      <hr>
      <footer>
        <p>Created by Ayesha Bose and Hanwen Xu, under Andrew W. Lo.</p>
      </footer>

    </div><!--/.fluid-container-->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.thumbs.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".thumb").thumbs();
  });
</script>
</body>
</html>
