<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Focus and Context Via Brushing</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/pca_viz.css"/>
  </head>
  <body>
    <div id="chart"></div>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/pca_viz.js"></script>
  </body>
</html>