<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
</head>
<body>

<table class="table table-hover table-bordered table-condensed">
  <tr class="active">
      <th> </th>
      <th align="center"> Ann. Mean </th>
      <th align="center"> Ann. SD </th>
      <th align="center"> Min </th>
      <th align="center"> Max </th>
      <th align="center"> Median </th>
      <th align="center"> Skewness </th>
      <th align="center"> Kurtosis </th>
      <th align="center"> p1 </th>
      <th align="center"> p_value (p1) </th>
      <th align="center"> p2 </th>
      <th align="center"> p_value (p2) </th>
      <th align="center"> p3 </th>
      <th align="center"> p_value (p3) </th>
    </tr>
    {% for s in stats %}  
    <tr>
    <td class="active" align="right"><b>{{ s.sector }}</b></td>
    <td align="center">{{ s.ann_mean }}</td>
    <td align="center">{{ s.ann_sd }}</td>
    <td align="center">{{ s.minimum }}</td>
    <td align="center">{{ s.maximum }}</td>
    <td align="center">{{ s.median }}</td>
    <td align="center">{{ s.skewness }}</td>
    <td align="center">{{ s.kurtosis }}</td>
    <td align="center">{{ s.p1 }}</td>
    <td align="center">{{ s.p1_value }}</td>
    <td align="center">{{ s.p2 }}</td>
    <td align="center">{{ s.p2_value }}</td>
    <td align="center">{{ s.p3 }}</td>
    <td align="center">{{ s.p3_value }}</td>
    </tr>
{% endfor %}
</table>

</body>
</html>