<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
        <title>Systemic Risk Dashboard</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">
        <!--<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">-->

        <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
</head>

<body>        
<body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Systemic Risk Dashboard</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">

        <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">Log In</a>
            </p>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="/returns">Monthly Returns</a></li>
              <li><a href="/pca">PCA</a></li>
              <li><a href="/granger">Granger Causality</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
          {% include "dashboard/time_range.html" %}
          {% include "dashboard/returns_viz.html" %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>Created by Ayesha Bose and Hanwen Xu, under Andrew W. Lo.</p>
      </footer>

    </div><!--/.fluid-container-->
</body>
</html>
