<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<title>Table With Embedded Line Chart</title>
<script src="http://d3js.org/d3.v3.min.js"></script>
<style>
table {
  border-collapse: collapse;
}
th {
  border-bottom: 2px solid #ddd;
  padding: 8px;
  font-weight: bold;
}
td {
  padding: 8px;
  border-top: 1px solid #ddd;
}
#chart {
  padding: 0px;
}
.xaxislabel {
  font-size: 9px;
}
</style>
</head>
<body>

<table>
  <tr>
      <th> </th>
      <th> Sample Size </th>
      <th> Ann. Mean </th>
      <th> Ann. SD </th>
      <th> Min </th>
      <th> Max </th>
      <th> Median </th>
      <th> Skewness </th>
      <th> Kurtosis </th>
      <th> p1 </th>
      <th> p_value (p1) <th>
      <th> p2 </th>
      <th> p_value (p2) <th>
      <th> p3 </th>
      <th> p_value (p3) <th>
    </tr>
    {% for s in stats %}  
    <tr>
    <td>{{ s.sector }}</td>
    <td>{{ s.sample_size }}</td>
    <td>{{ s.ann_mean }}</td>
    <td>{{ s.ann_sd }}</td>
    <td>{{ s.minimum }}</td>
    <td>{{ s.maximum }}</td>
    <td>{{ s.median }}</td>
    <td>{{ s.skewness }}</td>
    <td>{{ s.kurtosis }}</td>
    <td>{{ s.p1 }}</td>
    <td>{{ s.p1_value }}</td>
    <td>{{ s.p2 }}</td>
    <td>{{ s.p2_value }}</td>
    <td>{{ s.p3 }}</td>
    <td>{{ s.p3_value }}</td>
    </tr>
{% endfor %}
</table>

</body>
</html>