<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Autocorrelations</title>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
  </head>
  <body>
    <div class="row">
        <div class="span5">
        <div class="thumbnail">
          <img src="{{ STATIC_URL }}images/RollingAutoCorrelation/Banks.png" alt="...">
          <div class="caption">
            <h3>Banks</h3>
          </div>
        </div>

        <div class="thumbnail">
          <img src="{{ STATIC_URL }}images/RollingAutoCorrelation/Brokers.png" alt="...">
          <div class="caption">
            <h3>Brokers</h3>
          </div>
        </div>

        <div class="thumbnail">
          <img src="{{ STATIC_URL }}images/RollingAutoCorrelation/GMHF.png" alt="...">
          <div class="caption">
            <h3>Global Macro Hedge Funds</h3>
          </div>
        </div>

        <div class="thumbnail">
          <img src="{{ STATIC_URL }}images/RollingAutoCorrelation/HF.png" alt="...">
          <div class="caption">
            <h3>Hedge Funds</h3>
          </div>
        </div>

        <div class="thumbnail">
          <img src="{{ STATIC_URL }}images/RollingAutoCorrelation/IHF.png" alt="...">
          <div class="caption">
            <h3>Illiquid Hedge Funds</h3>
          </div>
        </div>

      </div>
      <div class="span5">

        <div class="thumbnail">
          <img src="{{ STATIC_URL }}images/RollingAutoCorrelation/Insurers.png" alt="...">
          <div class="caption">
            <h3>Insurers</h3>
          </div>
        </div>
    
        <div class="thumbnail">
          <img src="{{ STATIC_URL }}images/RollingAutoCorrelation/LHF.png" alt="...">
          <div class="caption">
            <h3>Liquid Hedge Funds</h3>
          </div>
        </div>

        <div class="thumbnail">
          <img src="{{ STATIC_URL }}images/RollingAutoCorrelation/LSEHF.png" alt="...">
          <div class="caption">
            <h3>Long/Short Equity Hedge Funds</h3>
          </div>
        </div>

        <div class="thumbnail">
          <img src="{{ STATIC_URL }}images/RollingAutoCorrelation/SP500.png" alt="...">
          <div class="caption">
            <h3>SP500</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>